
html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/*
|--------------------------------------------------------------------------
|  config
|--------------------------------------------------------------------------
*/
$bgColor: #37474f;
$lineColor: #C0E6ED;

/*
|--------------------------------------------------------------------------
|  style
|--------------------------------------------------------------------------
*/

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bgColor;

    .content {
        width: 600px;
        height: 600px;
        position: relative;
        overflow: hidden;
        // border: solid 5px red;

        .rect {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg) scale(0);
            border: solid 1px $lineColor;
            filter: drop-shadow(0 0 1px $lineColor);
            z-index: 3;
        }

        .line {
            width: 5px;
            height: 5px;
            background-color: $lineColor;
            filter: drop-shadow(0 0 1px $lineColor);
            position: absolute;
            top: 610px;
            left: 200px;
        }

        .child-rect {
            width: 5px;
            height: 5px;
            position: absolute;
            top: 420px;
            left: 200px;
            transform: rotate(45deg);
        }

        .child-rect-white {
            background-color: $lineColor;
            z-index: 1;
        }

        .child-rect-dark {
            background-color: $bgColor;
            opacity: 0;
            z-index: 2;
        }
    }
}


